
  <h1>Agregar Cliente</h1>
  <div class="drones-create-container" >
  <form action="/clients/create" method="post">
    <div class="form-add">
      <label for="name">Nombre:</label>
      <input class="input" type="text" id="name" name="name">
      <br>
      <label for="phone">Teléfono:</label>
      <input class="input" type="text" id="phone" name="phone">
      <br>
      <label for="email">Email:</label>
      <input class="input" type="text" id="email" name="email">
      <br>
      <label for="dataContact">Fecha de último contácto (Año):</label>
      <input class="input" type="text" id="dataContact" name="dataContact">
      <br>
      <label for="city">Ciudad de ubicación:</label>
      <input class="input" type="text" id="city" name="city">
      <br>
      <label for="observations">Observaciones:</label>
      <textarea class="input" id="observations" name="observations"></textarea>
      <br>
      <button type="submit">Agregar Cliente</button>
    </div>
  </form>
  </div>