<!-- layout.hbs -->
<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="../public/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VMA Data Base</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <div class="top-bar">
        <nav>
          <ul>
            <li><a class="cool-link" href="/">Inicio</a></li>
            <li><a class="cool-link" href="/clients">Clientes</a></li>
            {{!-- Agregar enlaces para Registro y Login --}}
            {{!-- <li><a class="cool-link" href="/register">Registro</a></li> --}}
            <li><a class="cool-link" href="/auth/login">Iniciar Sesión</a></li>
            <li><a class="cool-link" href="/auth/logout">logout</a></li>

          </ul>
        </nav>
      </div>
    </header>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>
